:root {
  --teal:#279e8c;
  --teal_hover: #7ae9d9;
}
* {
  font-family: "Poppins", sans-serif;
}
.h-font {
  font-family: "Merienda" cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textarea;
}
.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}
.custom-bg:hover {
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
}

.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}
.custom-alert {
  position:fixed;
  top: 80px;
  right: 25px;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36,36,36);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#dashboard-menu{
  position:fixed;
  height: 100%;
  z-index: 11;
}

@media screen and (max-width: 991px) {
  #dashboard-menu{
    position:fixed;
    height: auto;
    width:100%;

  }

  #main-content{
    margin-top: 60px;
  }
}
